#site_header {
  text-align: center;
  margin-top: 25px;
  color: white;
  border-radius: 10px;
  background-color: turquoise;
}

#topbar {
  text-align: center;
}

#topbar>div{
  width: 25%;
  padding-left: 10px;
  display: inline-block;
}

#topbar label{
  color: white;
  background-color: turquoise;
  border-radius: 4px;
  padding: 5px 10px;
}

#world_map {
    margin: auto;
}

#data_table>div{
    width: 40%;
    display: inline-block;
}

#row_4>div{
    width: 45%;
    display: inline-block;
}

#col_2>div{
    float: left;
    display: inline-block;
}

#table{
    width: 70%;
    float: left;
}