#site_header {
  text-align: center;
  margin-top: 25px;
  color: white;
  border-radius: 10px;
  background-color: turquoise;
}

#map_div {
  width: 500px;
  float:left;
  padding-left: 5px;
}

#country_div {
  width: 500px;
  float:left;
  padding-left: 5px;
}


#topbar {
  text-align: center;
}

#topbar>div{
  width: 40%;
  padding-left: 10px;
  display: inline-block;
}

#topbar label{
  color: white;
  background-color: turquoise;
  border-radius: 4px;
  padding: 5px 10px;
}

#map_header {
  text-align: left;
}

#map_header>div{
  width: 30%;
  padding-left: 10px;
  float:left;
}

#map_header label{
  color: white;
  background-color: turquoise;
  border-radius: 4px;
  padding: 5px 10px;
}
#world_map {
    margin: auto;

}

#data_table>div{
    width: 40%;
    display: inline-block;
}

#row_4>div{
    width: 45%;
    display: inline-block;
}

#pref_barplot>div{
    float: left;
    display: inline-block;
}

#table_summary>div{
    padding:  20px;
    text-align: left;
    width: 50%;
}

#table{
    width: 70%;
    float: left;
}